<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.henley.gankio">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.henley.gankio.GankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name="com.henley.gankio.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.henley.gankio.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.WebActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.GankHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.GankDailyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.PictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.IdleReadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.henley.gankio.activity.AboutUsActivity"
            android:screenOrientation="portrait" />

        <!-- *************************FileProvider begin************************* -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- *************************FileProvider end************************* -->

    </application>

</manifest>